@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:wght@300;400;700&family=Montserrat:wght@200;300;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Oswald:wght@300;400&family=Overlock:wght@400;700&family=Pathway+Extreme:wght@100&family=Poppins:wght@300;400&family=Roboto:wght@300;400;500;700;900&family=Titillium+Web:wght@400;600;700&family=Ubuntu:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
}

.text {
    word-wrap: break-word;
    position: relative;
    display: block;
}

.wrap {
    width: 1140px !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0 17.567px;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.logo {
    max-width: 203px;
    max-height: 203px;
    margin: 0px auto 0 0;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.menu-list {
    display: none;
}

.menu-icon {
    background: transparent;
    cursor: pointer;
    color: #ffffff;
    z-index: 999;
}

.icon {
    margin-top: 0;
    color: #035449;
    width: 32px;
    height: 32px;
}

.icon[name="close-outline"] {
    display: none;
}

.header {
    position: relative;
}

.menu {
    width: 30%;
    height: 100vh;
    background-color: #111111;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s linear;
    pointer-events: none;
}

.menu-list {
    height: 20vh;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 85%;
}

.menu-list li a {
    color: #ffffff;
    padding: 8px 0;
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

.active .menu {
    left: 0;
    opacity: 0.8;
    visibility: visible;
    pointer-events: auto;
}

.active .menu-icon .icon[name="close-outline"] {
    display: block;
}

.active .menu-icon .icon[name="menu-outline"] {
    display: none;
}

.menu-list li a:hover {
    color: #c7baf2;
}

.section {
    position: relative;
}




/*                                             section1                                              */

.section1 {
    width: 100%;
    min-height: 850px;
    background-image: url("https://images01.nicepage.com/64/ca/64cab0c98bf6a99be01c787ccdf60d5e.jpeg");
    background-position: 50% 100%;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -75px;
}

.container1 {
    height: 850px;
    position: relative;
    width: 1140px !important;
    margin: 0 auto;
    display: flex;
}

.layout-1 {
    min-height: 504px;
    width: 486px;
    background-image: none;
    color: #ffffff;
    background-color: #035449;
    margin: 301.5px 0 45px auto;
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.line-1 {
    height: 111px;
    transform-origin: center bottom 0;
    width: 1px;
    margin: 1px auto 0 0;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #ffffff;
}

.heading-1 {
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.1;
    font-size: 3.75rem;
    margin: 32px 60px 0 0;
    font-family: 'Open Sans', sans-serif;
}

.text-1 {
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin: 32px 60px 0 0;
}

.btn-1 {
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    border-style: solid;
    background-image: none;
    margin: 32px auto 50px 0;
    border-width: 1px;
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}




/*                                                   section2                                             */


.section2 {
    background-image: none;
    min-height: 496px;
}

.container2 {
    height: 496px;
    width: 1140px !important;
    margin: 0 auto;
    display: flex;
}

.layout-2 {
    width: 100%;
    min-height: 375px;
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 7px));
    grid-template-rows: repeat(1, auto);
    grid-gap: 10px;
}

.item-1,
.item-2,
.item-3 {
    display: flex;
    position: relative;
    text-align: left;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 44.5px 30px 30px;
    position: relative;
    flex: 1;
    max-width: 100%;
}

.icon-1,
.icon-2,
.icon-3 {
    height: 64px;
    width: 64px;
    margin: 0;
    color: #035449 !important;
    display: block;
    line-height: 0;
    border-width: 0px;
    border-radius: 50%;
}

.svg-link {
    fill: currentColor;
    width: 100%;
    height: 0;
}

.section2 svg {
    fill: #035449;
}

.heading-2 {
    margin: 25px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 1.875rem;
    color: #111111;
}

.text-2 {
    margin: 20.5px 2px 0 0;
    line-height: 1.6;
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #111111;
}




/*                                             section3                                               */


.section3 {
    min-height: 500px;
}

.container3 {
    min-height: 500px;
    width: 100% !important;
    margin: 0 auto 0 0;
}

.layout-3 {
    min-height: 100%;
    max-width: 100%;
    display: flex;
}

.cell {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    height: 565px;
    color: #ffffff;
    background-color: #035449;
    opacity: 1;
}

.cell-2 {
    opacity: 0.9;
}

.inner-cell {
    display: flex;
    flex-direction: column;
    position: relative;
}

.inner-cell-1 {
    width: 491px;
    min-height: 439px;
    margin: 130.5px auto;
    padding-left: 26px;
}

.heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.2;
}

.heading-3 {
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-left: 0;
}

.heading-4 {
    margin: 20px 20px 0 0;
    font-size: 1.875rem;
    text-transform: capitalize;
}

.text-3 {
    margin: 20px 20px 0 0;
    line-height: 1.6;
    font-size: 1.125rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#btn-1 {
    margin-top: 20px;
}

.inner-cell-2 {
    width: 100%;
    min-height: 500px;
    padding: 0 49px;
    margin: 63px 0 0;
}

.text-4 {
    width: 460px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    margin: -82.5px 20px 128px;
    line-height: 1.6;
    font-weight: 300;
    color: #cdecea !important;
}

.box-1 {
    height: 290px;
    width: 432px;
}

.icon-4 {
    height: 102px;
    width: 102px;
    margin: 0 auto 0 0;
    border-radius: 50%;
    display: block;
    line-height: 0;
    border-width: 0px;
}

.section3 svg {
    fill: #035449;
}

.svg-link-2 {
    width: 100%;
    height: 0;
    fill: currentColor;
}

.image-1 {
    width: 491px;
    height: 263px;
    object-position: 50% 0%;
    background-position: 50% 0%;
    margin: -74px auto 37px;
    object-fit: cover;
    display: block;
    background-repeat: no-repeat;
}



/*                                           section4                                                 */

.section4 {
    min-height: 759px;
    color: #111111;
    background-color: #f2f2f2;
}

.container4 {
    min-height: 759px;
    position: relative;
    width: 1140px !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.box-2 {
    min-height: 135px;
    width: 800px;
    margin: 62px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 60px;
    text-align: center;
}

.heading-5 {
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 2.25rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.line-2 {
    width: 142px;
    transform-origin: left center 0;
    height: 1px;
    position: relative;
    margin: 30px auto 8px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #035449;
}

.box-3 {
    width: 100%;
    margin: 27px auto 73px 0;
    display: flex;
    column-gap: 29px;
}

.col {
    background-color: #ffffff;
    min-height: 492px;
    background-image: none;
}

.layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}

.image {
    width: 360.94px;
    height: 250px;
    margin: 0 auto 0 0;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.heading-6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 30px 30px 0;
}

.text-5 {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-weight: 300;
    margin: 20px 30px 31px;
}



/*                                           section5                                                 */

.section5 {
    min-height: 500px;
}

.container5 {
    width: 100% !important;
    min-height: 500px;
    margin: 0 0 0 auto;
}

.layout-4 {
    width: 100%;
    height: 533px;
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.image-5 {
    min-height: 533px;
    background-image: url("https://images01.nicepage.com/56/a2/56a2e5f012289c1e70a1258f737de6da.jpeg");
    background-position: 50% 50%;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 50%;
    max-width: 50%;
}

.inner-layout-4 {
    color: #ffffff;
    background-color: #035449;
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
}

.inner {
    width: 491px;
    min-height: 374px;
    display: flex;
    flex-direction: column;
    margin: 103px auto 0;
    padding-left: 26px;
}

#btn1 {
    margin-top: 40px;
}

/*                                           section6                                                 */

.section6 {
    min-height: 450px;
    background-color: #ffffff;
    color: #111111;
}

.container6 {
    min-height: 450px;
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.layout-5 {
    width: 953px;
    min-height: 160px;
    margin: 65px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading-7 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25rem;
    margin: 15px 20px 0;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
    text-align: center;
}

.line-3 {
    width: 142px;
    transform-origin: left center 0;
    margin: 45px auto 14px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #035449;
}

.layout-5-1 {
    width: 100%;
    min-height: 204px;
    margin: 20px auto 65px 0;
    text-align: center;
    padding: 0 20px;
}

.text-6 {
    font-size: 1.25rem;
    margin: 20px 0;
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

/*                                           section7                                                  */

.section7 {
    min-height: 533px;
}

.container7 {
    width: 100% !important;
    min-height: 533px;
    margin: 0 0 0 auto;
}

.inner-2 {
    padding-left: 29px;
    margin-top: 83px;
}

#image-5 {
    background-image: url("	https://images01.nicepage.com/70/38/70388aff1585d76dfa8a7745fc4db619.jpeg");
}



/*                                           section8                                                  */

.section8 {
    min-height: 1279px;
    background-color: #ffffff;
}

.container8 {
    min-height: 1279px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.inner-layout-5 {
    width: 800px;
    margin-top: 54px;
}

#head7 {
    margin-top: 10px;
}

.line {
    margin-top: 30px;
}

.box-4 {
    width: 100%;
    min-height: 100%;
    margin: 32px auto 60px 0;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    flex: 20 0 33.33333333%;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 100%;
}

.images {
    min-height: 319.5px;
    width: 373.5px;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.img-1 {
    background-image: url("https://images01.nicepage.com/a5/e2/a5e20191a84934d2c65af105b3838ab8.jpeg");
}

.img-2 {
    background-image: url("https://images01.nicepage.com/c9/42/c942885507a03e5562a3fb67b46df2a8.jpeg");
}

.img-3 {
    background-image: url("https://images01.nicepage.com/5d/79/5d7917af7c69f12da14f0e8231d689d2.jpeg");
}

.img-4 {
    background-image: url("https://images01.nicepage.com/05/0b/050b3800889f2073ac50842352fdc592.jpeg");
}

.img-5 {
    background-image: url("https://images01.nicepage.com/5b/69/5b69c372743197071ab0bfdf55c575f1.jpeg");
}

.img-6 {
    background-image: url("https://images01.nicepage.com/7b/3f/7b3f6a49410e767a9998169e0c4c91e0.jpeg");
}

.img-7 {
    background-image: url("https://images01.nicepage.com/8b/2e/8b2e419dfe4b919af84a65e0e5da5c9d.jpeg");
}

.img-8 {
    background-image: url("https://images01.nicepage.com/09/00/0900fddd3a648de9018c241b54b14125.jpeg");
}

.img-9 {
    background-image: url("https://images01.nicepage.com/31/45/31457cacbcab706cbe6c7545b0a54942.jpeg");
}



/*                                           section9                                                  */


.section9 {
    min-height: 650px;
    background-image: url("https://images01.nicepage.com/4c/bf/4cbfe8ee5c8c6dbe7578b84a775313d8.jpeg");
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.container9 {
    min-height: 650px;
    margin: 0 auto;
    display: flex;
}

.layout-6 {
    width: 100%;
    min-height: 338px !important;
    margin: 156px auto 60px 0;
    display: flex;
}

.cell-3 {
    min-height: 338px !important;
    width: 45%;
}

.empty {
    display: flex;
    min-height: 338px !important;
    width: 513px;
    padding: 30px 60px;
}

.cell-4 {
    min-height: 338px;
    flex: 0 0 55%;
    max-width: 55%;
}

.content {
    background-color: #ffffff;
    min-height: 338px;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heading-7 {
    text-align: left;
    margin: 0;
}

#text-3-1 {
    margin: 20px 0 0;
}




/*                                     footer                                                   */


footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #323233;
    width: 100%;
    padding: 55px 16px 49px;
}

footer .para3 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    width: 417px;
    line-height: 1.6;
    text-align: center;
}

.section10 {
    padding: 50.5px 18px 37px 16px;
    background-color: #323233;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 3.5px;
}

.text-link {
    font-size: 12.8px;
    font-family: 'Roboto', sans-serif;
}

.text-7 {
    color: #ffffff;

}

.link-4 {
    color: #acf6ec;
    margin-left: 2px;
}

.link-5 {
    color: #acf6ec;
}

.link-4:hover {
    text-decoration: none;
    color: gray;
}

.link-5:hover {
    text-decoration: none;
    color: gray;
}






/*                                               RESPONSIVE                                              */


/*                                               header media query                                      */

@media (min-width: 991px) and (max-width:1190px) {
    .wrap {
        width: 940px !important;
    }
}

@media (min-width: 769px) and (max-width:990px) {
    .wrap {
        width: 720px !important;
    }
}

@media (min-width: 575px) and (max-width:768px) {
    .wrap {
        width: 540px !important;
    }
}

@media (min-width: 0px) and (max-width:574px) {
    .wrap {
        width: 340px !important;
    }
}


/*                                               section1 media query                                    */


@media (min-width: 575px) and (max-width: 990px) {
    .section1 {
        min-height: 755px;
    }

    .container1 {
        height: 755px;
    }

    .layout-1 {
        min-height: 449px !important;
        width: 307px;
        margin-top: 197px;
        margin-bottom: 180px;
    }

    .line-1 {
        height: 72px;
        margin-left: 60px;
    }

    .heading-1 {
        font-size: 2.25rem;
        width: auto;
        margin-right: 46px;
        margin-left: 60px;
    }

    .text-1 {
        width: auto;
        margin-right: 46px;
        margin-left: 60px;
    }

    #btn {
        margin: 39px auto 36px 60px;
    }
}

@media (min-width: 0px) and (max-width: 574px) {
    .section1 {
        min-height: 755px;
    }

    .container1 {
        height: 755px;
    }

    .layout-1 {
        min-height: 449px !important;
        width: 340px;
        margin-top: 197px;
        margin-bottom: 180px;
    }

    .line-1 {
        height: 72px;
        margin-left: 60px;
    }

    .heading-1 {
        font-size: 2.25rem;
        width: auto;
        margin-right: 46px;
        margin-left: 60px;
    }

    .text-1 {
        width: auto;
        margin-right: 46px;
        margin-left: 60px;
    }

    #btn {
        margin: 39px auto 36px 60px;
    }
}



/*                                               section2 media query                                    */

@media (min-width: 769px) and (max-width: 990px) {
    .section2 {
        min-height: 830px;
    }

    .container2 {
        height: 830px;
    }

    .layout-2 {
        min-height: 710px;
        grid-template-columns: repeat(2, calc(50% - 5.25px));
    }
}

@media (min-width: 575px) and (max-width: 768px) {
    .section2 {
        min-height: 1085px;
    }

    .container2 {
        height: 1085px;
    }

    .layout-2 {
        min-height: 965px;
        grid-template-columns: 100%;
    }
}

@media (min-width: 0px) and (max-width: 574px) {
    .section2 {
        min-height: 1085px;
    }

    .container2 {
        height: 1085px;
    }

    .layout-2 {
        margin: 30px 0;
        min-height: 965px;
        grid-template-columns: 100%;
    }
}



/*                                               section3 media query                                    */

@media (min-width: 0px) and (max-width:1190px) {
    .container3 {
        width: 100% !important;
    }
}
@media (min-width: 991px) and (max-width:1129px) {
    .inner-cell-1 {
        width: 360px;
        min-height: 359px;
        margin-bottom: 0;
    }
    .inner-cell-2 {
        width: 100%;
        min-height: 350px !important;
        padding: 0 60px 0 49px;
        margin: 63px 0 0;
    }
    .box-1 {
        height: 160px;
        margin-bottom: 80px;
    }
    .text-4 {
        width: 400px;
        margin-bottom: 20px;
    }
    .image-1 {
        width: 391px;
        height: 263px;
        margin-left: 0;
    }
}

@media (min-width: 769px) and (max-width:990px) {
    .section3 {
        height: 629px;
    }
    .container3, .layout-3, .cell {
        height: 629px;
    }
    .cell {
        width: 100%;
    }
    .cell-1 {
        height: 5;
    }
    .inner-cell {
        height: 550px;
    }
    .inner-cell-1 {
        width: 360px;
        min-height: 359px;
        margin-bottom: 0;
    }
    .inner-cell-2 {
        width: 100%;
        min-height: 350px !important;
        padding: 0 60px 0 49px;
        margin: 63px 0 0;
        justify-content: space-between;
    }
    .box-1 {
        width: 290px;
        height: 160px;
        margin-bottom: 80px;
    }
    .text-4 {
        width: 284px;
        margin-bottom: 20px;
    }
    .image-1 {
        width: 310px;
        height: 263px;
        margin-left: 0;
    }
}

@media (min-width: 575px) and (max-width:768px) {
    .section3 {
        height: 1267px;
    }
    .container3 {
        height: 1267px;
    }
    .layout-3 {
        height: 1267px;
        flex-direction: column;
    }
    .cell {
        height: 550px;
        max-width: 100%;
    }
    .cell-2 {
        justify-content: center;
    }
    .inner-cell {
        width: 540px;
        height: 550px;
    }
    .inner-cell-1 {
        min-height: 422px;
        width: 540px;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
    }
    .inner-cell-2 {
        padding: 0 60px 0 49px;
        margin: 63px 0 0;
    }
    .box-1 {
        width: 500px;
        height: 160px;
        margin-bottom: 100px;
    }
    .text-4 {
        width: 484px;
        margin-bottom: 20px;
    }
    .image-1 {
        width: 433px;
        height: 284px;
        margin-left: 0;
    }
}

@media (min-width: 0px) and (max-width:574px) {
    .section3 {
        height: 1150px;
    }
    .container3 {
        height: 1150px;
    }
    .layout-3 {
        height: 1150px;
        flex-direction: column;
    }
    .cell {
        height: 550px;
        max-width: 100%;
    }
    .cell-2 {
        justify-content: center;
    }
    .inner-cell {
        width: 340px;
        height: 550px;
    }
    .inner-cell-1 {
        min-height: 422px;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
    }
    .inner-cell-2 {
        padding: 0;
        margin: 34px 0 0;
        justify-content: space-between;
    }
    .box-1 {
        width: 350px;
        height: 160px;
        margin-bottom: 60px;
    }
    .text-4 {
        width: 340px;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .image-1 {
        width: 343px;
        height: 284px;
        margin: 0 0 60px 0;
    }
}



/*                                               section4 media query                                    */

@media (min-width: 991px) and (max-width: 1190px) {
   .container4 {
    width: 940px !important;
   }
   .col, .image {
    width: 290px;
   }
}

@media (min-width: 769px) and (max-width: 990px) {
    .section4, .container4 {
        height: 1693px;
    }
    .container4 {
        width: 650px !important;
    }
    .box-2 {
        width: 600px;
    }
    .box-3 {
        flex-direction: column;
        width: 600px;
        height: 1365px;
        justify-content: space-between;
    }
    .col {
        width: 600px;
        min-height: 435px;
    }
    .image {
     width: 600px;
    }
 }
 @media (min-width: 0px) and (max-width: 768px) {
    .section4, .container4 {
        height: 1693px;
    }
    .box-3 {
        flex-direction: column;
        justify-content: space-between;
    }
    .col {
        min-height: 435px;
    }
 }
 @media (min-width: 575px) and (max-width: 768px) {
    .container4 {
        width: 540px !important;
    }
    .box-2 {
        width: 540px;
    }
    .box-3 {
        width: 540px;
        height: 1365px;
    }
    .col {
        width: 540px;
    }
    .image {
     width: 540px;
    }
 }

 @media (min-width: 0px) and (max-width: 574px) {
    .container4 {
        width: 340px !important;
    }
    .box-2 {
        width: 340px;
        padding: 0;
    }
    .box-3 {
        width: 340px;
        height: 1370px;
    }
    .col {
        width: 340px;
    }
    .image {
     width: 340px;
    }
 }


/*                                               section5 media query                                    */
@media (min-width: 0px) and (max-width: 1190px) {
    .container5 {
        width: 100% !important;
    }
}
@media (min-width: 769px) and (max-width: 990px) {
    .section5, .container5, .layout-4 {
        min-height: 533px;
    }
    .inner {
        width: 310px;
        margin-top: 50px;
        padding-left: 0;
    }
}
@media (min-width: 0px) and (max-width: 768px) {
    .layout-4 {
        flex-direction: column;
    }
    .inner-layout-4 {
        max-width: 100%;
    }
    .inner {
        margin-top: 50px;
        padding-left: 0;
    }
    .image-5 {
        max-width: 100%;
        min-height: 606px;
    }
}
@media (min-width: 575px) and (max-width: 768px) {
    .section5, .container5 {
        min-height: 1035px;
    }
    .inner {
        width: 543px;
    }
}
@media (min-width: 0px) and (max-width: 574px) {
    .section5, .container5 {
        min-height: 1150px;
    }
    .inner {
        width: 340px;
    }
}
/*                                               section6 media query                                    */

@media (min-width: 769px) and (max-width: 990px) {
    .layout-5 {
        width: 720px;
    }
}
@media (min-width: 575px) and (max-width: 768px) {
    .layout-5 {
        width: 540px;
        margin-top: 45px
    }
}
@media (min-width: 0px) and (max-width: 574px) {
    .layout-5 {
        width: 340px;
        margin-top: 35px
    }
}


/*                                               section7 media query                                    */

@media (min-width: 0px) and (max-width: 1190px) {
    .container7 {
        width: 100% !important;
    }
}
@media (min-width: 769px) and (max-width: 990px) {
    .section7, .container7, .layout-4 {
        min-height: 606px;
    }
}
@media (min-width: 575px) and (max-width: 768px) {
    .section7, .container7 {
        min-height: 1035px;
    }
}
@media (min-width: 0px) and (max-width: 574px) {
    .section7, .container7 {
        min-height: 1150px;
    }
}



/*                                               section8 media query                                    */
@media (min-width: 991px) and (max-width: 1190px) {
    .images {
        width: 305px;
    }
}
@media (min-width: 769px) and (max-width: 990px) {
    .images {
        width: 230px;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .section8 {
        min-height: 3330px;
    }
    .container8 {
        min-height: 3330px
    }
    .box-4 {
        height: 2992px;
        row-gap: 18px;
    }
    .row-1 {
        flex-direction: column;
        min-height: 984px;
    }
}
@media (min-width: 575px) and (max-width: 768px) {
    .images {
        width: 540px;
        height: 318px;
    }
}
@media (min-width: 0px) and (max-width: 574px) {
    .images {
        width: 340px;
        height: 318px;
    }
    #head7 {
        margin: 20px 0 0;
    }
}

/*                                               section9 media query                                    */
@media (min-width: 0px) and (max-width: 990px) {
    .section9, .container9 {
        min-height: 701px;
    }
    .layout-6 {
        flex-direction: column;
    }
    .cell-4 {
        min-height: 338px;
    }
    .cell-3, .empty {
        min-height: 153px !important;
    }
}
@media (min-width: 769px) and (max-width: 990px) {
    .cell-3, .empty, .content {
        width: 720px;
    }
    .cell-4 {
        max-width: 720px;
    }
}
@media (min-width: 575px) and (max-width: 768px) {
    .cell-3, .empty, .content {
        width: 540px;
    }
    .cell-4 {
        max-width: 540px;
    }
}
@media (min-width: 0px) and (max-width: 574px) {
    .cell-3, .empty, .content {
        width: 340px;
    }
    .cell-4 {
        max-width: 340px;
    }
    .content {
        padding: 30px;
    }
}


